* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* This is header content */
.color {
    color: lightblue;
}
header {
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console';
    color: #88518a;
    padding: 18px;
    background-color: #88518a;
    font-size: 15px;
}
header h1 {
    position: relative;
    left: 58px;
}
span {
    background-color: #edc2e6;
}
header ul {
    list-style-type: none;
}
header ul li {
    display: inline-block;
    text-decoration: underline;
    margin-right: 20px;
    text-underline-position: under;
}
header nav {
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 20px;
    font-family: 'Lucida' Console;
    color: #edc2e6;
}
 ul li a:hover {
    color: #edc2e6;
    box-shadow: rgb(114, 80, 85);
}
/* This is banner content */
.hero-image {
    height: 150px;
    background-image: url("../Images/flowerbanner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}
.hero-text h2 {
    float: right;
    display: block;
    padding-top: 80px;
    padding-right: 75px;
    font-size: 34px;
    color: #88518a;
}
/* This is the middle content */
body {
    overflow-x: hidden;
}
.self-portrait {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px 10px;
}
.flex-summ {
    font-size: 25px;
    margin: 40px;
    padding-right: 150px;
    color: #88518a;
}
.about-me-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: no-wrap;
}
.flex-container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: row wrap;
}
#content-title {
    display: flex;
    font-size: 50px;
    border-right: 3px solid #88518a;
    margin: 25px;
    align-items: center;
    padding-right: 20px;
    color: #88518a;
}
#work-title {
    display: flex;
    font-size: 50px;
    border-right: 3px solid #88518a;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    color: #88518a;
}
.caption {
    text-align: center;
    font-size: 40px;
    color: pink;
}
.flex-item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 50px;
    justify-content: center;
    color: #88518a;
}
.flex-item-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 50px;
    margin: 25px;
    color: #88518a;
}
.flex-item-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 50px;
    margin: 25px;
    color: #88518a;
}
section img {
    border: 15px solid #662768;
    transition: transform 0.25s ease;
}
img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
/* This is the footer section */
footer h1 {
    font-size: 39px;
    border-right: 3px solid #88518a;
    color: #88518a;
}
footer ul li {
    display: inline-block;
    text-decoration: underline;
    margin-right: 20px;
    text-underline-position: under;
    font-size: 23px;
    color: #88518a;
}
footer nav {
    float: right;
    position: relative;
    margin-right: 28%;
    font-size: 20px;
    font-family: 'Lucida' Console;
}
footer ul li:hover {
    box-shadow: inset 0 0 8;
}