* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* This is header content */
header {
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console';
    color: #88518a;
    padding: 18px;
    background-color: #88518a;
    font-size: 15px;
}
header h1 {
    position: relative;
    left: 58px;
}
span {
    background-color: #edc2e6;
}
header ul {
    list-style-type: none;
}
header ul li {
    display: inline-block;
    text-decoration: underline;
    margin-right: 20px;
    text-underline-position: under;
}
header nav {
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 20px;
    font-family: 'Lucida' Console;
    color: #edc2e6;
}
 ul li a:hover {
    color: #edc2e6;
    box-shadow: rgb(114, 80, 85);
}
/* This is banner content */
.hero-image {
    height: 150px;
    background-image: url("../Images/flowerbanner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}
.hero-text h2 {
    float: right;
    display: block;
    padding-top: 80px;
    padding-right: 75px;
    font-size: 34px;
    color: #88518a;
}
/* This is the middle content */
body {
    overflow-x: hidden;
}
.grid-container {
    display: flex;
    gap: 15px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.grid-content {
    align-self: center;
}
.item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px 10px;
}
#item-2 {
    font-size: 50px;
    border-right: 3px solid #88518a;
    margin: 25px;
    padding-right: 20px;
    color: #88518a;
}
.item-3 {
    font-size: 25px;
    margin: 40px;
    padding-right: 150px;
    color: #88518a;
}
#item-4 {
    font-size: 50px;
    border-right: 3px solid #88518a;
    margin: 25px;
    padding-right: 20px;
    padding-top: 100px;
    grid-column: 2/3;
    grid-row: 2/5;
    color: #88518a;
}
.item-5 {
    grid-column: 3/4;
    position: relative;
    left: 258px;
}
.item-6 {
    grid-column: 3/4;
    display: flex;
    justify-content: right;
    margin-right: 37%;
}
.item-6, .item-7 {
    grid-row: 3/4;
    grid-column: 3/4;
}
.item-7 {
    grid-column: 3/4;
    display: flex;
    justify-content: left;
    margin-left: 19%;
}
.item-8 {
    grid-column: 3/4;
    grid-row: 4/5;
    display: flex;
    justify-content: right;
    margin-right: 37%;
}
.item-8, .item-9 {
    grid-row: 4/5;
    grid-column: 3/4;
}
.item-9 {
    grid-column: 3/4;
    grid-row: 4/5;
    display: flex;
    justify-content: left;
    margin-left: 19%;
}
img {
    border: 15px solid #662768;
    transition: transform 0.25s ease;
}
img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.caption {
    text-align: center;
    font-size: 40px;
    color: pink;
    position: relative;
    bottom: 100px;
    right: 600px;
}
/* This is the footer section */
footer h1 {
    position: relative;
    left: 13%;
    font-size: 39px;
    padding-top: 150px;
    padding-bottom: 100px;
    border-right: 3px solid #88518a;
    width: 255px;
    color: #88518a;
}
footer ul li {
    display: inline-block;
    text-decoration: underline;
    margin-right: 20px;
    text-underline-position: under;
    font-size: 23px;
    color: #88518a;
}
footer nav {
    float: right;
    position: relative;
    margin-right: 28%;
    bottom: 135px;
    font-size: 20px;
    font-family: 'Lucida' Console;
}
footer ul li:hover {
    box-shadow: inset 0 0 8;
}
@media screen and (min-width: 992px){
    header{
        display: flex;
        flex-wrap: wrap;
    }
}